@model TemAqui.Models.SerPres

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SerPres</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prestadordeservico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prestadordeservico.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEHR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEHR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
