@model IEnumerable<Tem_Aqui.Models.Login>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a style="text-decoration-line:none" class=" text-dark" asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LoginNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoginSenha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LoginNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoginSenha)
            </td>
            <td>
                    <a style="text-decoration-line:none" class=" text-dark" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a style="text-decoration-line:none" class=" text-dark" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a style="text-decoration-line:none" class=" text-dark" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
